<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
 
    <div id="app">
        <input type="text" v-model="user">
        <input type="text" v-model="comment">
        <button @click="save">Save</button>
        <ul>
            <li v-for="msg in message">
                <p>{{ msg.user }}: {{ msg.comment }}</p>
            </li>
        </ul>
    </div>

    <div id="app2">
        <comments></comments>
        <comments></comments>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="./test3.js"></script>
</body>
</html>